# Secret key
SECRET_KEY='090sdf90asd0f900g9f09g0fg0f90 c03@#$324dfsfs]]sdf]sss'

# Password encryption algorithm
PASSWORD_ENCRYPTION_ALGORITHM='HS256'

# Database folder path
DATABASE_FOLDER_PATH='medicore_db_files'

# Database name
DATABASE_NAME='medicore_database.db'

# Admin credentials
ADMIN_EMAIL='admin@gmail.com'
ADMIN_PASSWORD='abc123'
